*.deps
*.libs
*.lo
*.o
*~
./*.sh
.deps
.DS_Store
.libs/
.vagrant/
ac*.m4
acinclude.m4
aclocal.m4
autom4te.cache
build*
build.sh
build/
callgrind.out.*
config.*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure*
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile*
Makefile.*
missing
mkinstalldirs
modules/
redis.la
run-tests.php
sentinel.conf
sentinel_demo.php
tests/phpt/*/*.diff
tests/phpt/*/*.exp
tests/phpt/*/*.log
tests/phpt/*/*.out
tests/phpt/*/*.php
tests/phpt/*/*.sh
tmp-php.ini
Vagrantfile
