.DS_Store
*.lo
*.o
*~
.deps
.libs/
Makefile
Makefile.*
acinclude.m4
aclocal.m4
autom4te.cache
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
redis.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
tests/phpt/*/*.diff
tests/phpt/*/*.exp
tests/phpt/*/*.log
tests/phpt/*/*.out
tests/phpt/*/*.php
tests/phpt/*/*.sh
tmp-php.ini
sentinel.conf
.vagrant/
Vagrantfile
build.sh
callgrind.out.*
sentinel_demo.php
