/.github
/.idea
/.vscode
/docs/.cache
.cquery
*.dep
*.deps
*.libs
*.o
*.so
*.la
*.lo
Makefile*
configure*
ac*.m4
config.*
install-sh
libtool
./*.sh
build*
missing
autom4te.cache
mkinstalldirs
tags
compile_commands.json
doctum.phar
run-tests.php
