Source: php5-redis
Section: web
Priority: optional
Maintainer: Nicolas Favre-Felix <n.favre-felix@owlient.eu>
Build-Depends: debhelper (>= 7), php5-dev
Standards-Version: 3.8.0
Homepage: https://github.com/nicolasff/phpredis

Package: php5-redis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php5:Depends}
Recommends: php5
Provides: php5-redis
Conflicts: phpredis
Replaces: phpredis
Description: Redis C extension for PHP5.
