Package: php7.0-redis
Version: 3.0.0
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: php7.0-dev
Build-Depends:
Pre-Depends: php7.0-dev
Recommends: php7.0
Suggests:
Installed-Size:
Maintainer: Nicolas Favre-Felix [n.favre-felix@owlient.eu]
Conflicts: phpredis
Replaces: phpredis
Provides: php7.0-redis
Description: Redis C extension for PHP7.
