Package: php7.0-redis
Version: 3.1.3
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: php7.0-dev
Build-Depends:
Pre-Depends: php7.0-dev
Recommends: php7.0
Suggests:
Installed-Size:
Maintainer: Eugene Kirdzei [masterjus@gmail.com]
Conflicts: phpredis
Replaces: phpredis
Provides: php7.0-redis
Description: Redis C extension for PHP7.0
