#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 
#
# This version is for packages that are architecture dependent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_SRCDIR=$(shell pwd)
INSTALL_DIR=$(DEB_SRCDIR)/debian/$(shell dh_listpackages)
EXTENSION_DIR=`php-config5 --extension-dir`
CFLAGS = -O3


build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	
	# Because phpize --clean removes all testfiles
	# in tests/*.php the svn-buildpackage will fail
	# when tests/TestRedis.php was removed.
	# So we backup the file:
	cd $(DEB_SRCDIR) && mv tests/TestRedis.php tests/TestRedis.php.bak && \
		phpize --clean && mv tests/TestRedis.php.bak tests/TestRedis.php && \
	        phpize && \
		./configure --with-php-config=/usr/bin/php-config5
	$(MAKE) -C $(DEB_SRCDIR)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	# See comment in build-stamp why doing the 'mv'
	cd $(DEB_SRCDIR) && mv tests/TestRedis.php tests/TestRedis.php.bak && \
		phpize --clean && mv tests/TestRedis.php.bak tests/TestRedis.php
	#$(MAKE) -C $(DEB_SRCDIR) clean
	#$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>
	$(MAKE) prefix=$(INSTALL_DIR)/usr EXTENSION_DIR=$(INSTALL_DIR)$(EXTENSION_DIR) install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	cd $(DEB_SRCDIR) && \
	       echo "php5:Depends=phpapi-`php-config5 --phpapi`, php5-common" >> debian/phpredis.substvars
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
